{% if data is not empty %}
    <span class="ui {{ ('app.admin.ui.modules.proxy_checker.proxy.enum_colors.proxy_status.' ~ data.value) | trans }} label">
        {{ ('app.admin.ui.modules.proxy_checker.proxy.enums.proxy_status.' ~ data.value)|trans }}
    </span>
{% endif %}