{% extends '@app/admin/layout/base.html.twig' %}

{% block title %} {{ 'app.admin.ui.common.project'|trans }} {% endblock %}

{% block body %}

    <h1>{{ 'Oops! Some error happend!' | trans }}</h1>

{% endblock %}
